
<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Descripcion</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let provincia of listProvincias">
                    <td>{{provincia.descripcion}}</td>

                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de provincias</div>
            <div class="card-body">


                <form [formGroup]="formProvincia" (ngSubmit)= "guardarProvincia()">

                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>

                    
                    
                    <button class="btn btn-success">Guardar una provincia</button>
                </form>
            </div>
        </div>

    </div>

</div>
