<div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="resetearformGasto()">
        Crear gasto
    </button>

</div>
<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Importe</th>
                    <th>Categoria</th>
                    <th>Operaciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let gasto of listGastos">
                    <td>{{gasto.descripcion}}</td>
                    <td>{{gasto.importe}}</td>
                    <td>{{gasto.descripcion_categoria}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger">Eliminar</button>
                            <button class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gastos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="formGasto" (ngSubmit)= "guardarGasto()">
                <div class="modal-body">
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <input formControlName="importe" placeholder="Ingrese el importe" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <select name="" id="" formControlName="categoria" class="form-control">
                            <option value="0" disabled selected>Seleccione una categoria</option>
                            <option  *ngFor="let fila of listCatGastos" [value]="fila.id_categoria_gasto">
                                {{fila.descripcion}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success">Guardar gasto</button>
                </div>
            </form>
        </div>
    </div>
</div>