<div class="row">
    <div class="col-sm-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"  (click)="resetearformVenta()">
        Crear venta
      </button>
    </div>

</div>
<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped" >

            <thead>
                <tr>
                    <th>id</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Importe</th>
                    <th>Fecha_venta</th>
                    <th>Importe_unitario</th>
                    <th>Estado</th>
                    <th>Forma_pago</th>
                    <th>Descuento_aplicado</th>
                    <th>Planilla</th>
                    <th>Vendedor</th>
                    <th>Operaciones</th>
                    


                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let venta of listVentas">
                    <td>{{venta.id_venta}}</td>
                    <td>{{venta.producto_descripcion}}</td>
                    <td>{{venta.cantidad}}</td>
                    <td>{{venta.importe}}</td>
                    <td>{{venta.fecha_venta_formateada}}</td>
                    <td>{{venta.importe_unitario}}</td>
                    <td>
                        <div *ngIf="venta.estado == 0; else loggedOut">
                        <span class="badge badge-danger">Inactivo</span>
                      </div>
                      
                      <ng-template #loggedOut>
                        <span class="badge badge-success">Activo</span>
                      </ng-template>
                    </td>
                    <td>
                        <div *ngIf="venta.forma_pago== 0; else loggedOut">
                            <span class="badge badge-danger">Efectivo</span>
                          </div>
                          
                          <ng-template #loggedOut>
                            <span class="badge badge-success">Tarjeta</span>
                          </ng-template>
                    </td>
                    <td>{{venta.descuento_aplicado}}</td>
                    <td>{{venta.vendedor_venta}}</td>
                    <td>{{venta.nombre}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger" (click)="eliminarVenta(venta.id_venta)" ><i class="fas fa-trash"></i></button>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="editarVenta(venta)"><i class="fas fa-edit"></i> </button>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

    

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ventas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formVenta" (ngSubmit)="guardarVenta()">
        <div class="modal-body">
            <div class="form-group">
                <select name="" id="" formControlName="producto" class="form-control" placeholder="">
                    <option value="0" disabled selected>Seleccione un producto</option>
                    <option  *ngFor="let fila of listProVentas" [value]="fila.id_producto">
                        {{fila.descripcion}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <input formControlName="cantidad" placeholder="Ingrese la cantidad" type="text" class="form-control">
            </div>

            <div class="form-group">
                <input formControlName="importe" placeholder="Ingrese el importe" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <div class="input-group">
                    <input formControlName="fecha_venta" class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-secondary calendar" (click)="d.toggle()" type="button">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-calendar-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5a.5.5 0 0 0-1 0V10H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V11H10a.5.5 0 0 0 0-1H8.5V8.5z"/>
                              </svg>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input formControlName="importe_unitario" placeholder="Ingrese el importe unitario" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <select name="" id="" formControlName="estado" class="form-control" placeholder="Ingrese el estado">
                    <option value="-1" disabled selected>Seleccione un estado</option>
                    <option value="0" active selected>Inactivo</option>
                    <option value="1" active selected>Activo</option>
                </select>
            </div>
            
            <div class="form-group">
                <select name="" id="" formControlName="forma_pago" class="form-control" placeholder="Ingrese el estado">
                    <option value="-1" disabled selected>Seleccione un formato de pago</option>
                    <option value="0" active selected>Efectivo</option>
                    <option value="1" active selected>Tarjeta</option>
                </select>
            </div>
            
            <div class="form-group">
                <input formControlName="descuento_aplicado" placeholder="Ingrese el descuento aplicado" type="text" class="form-control">
            </div>

            <div class="form-group">
                <input formControlName='planilla' placeholder="Ingrese una planilla" class="form-control" type="number">
               <!-- <select name="" id="" formControlName="planilla" class="form-control" placeholder="">
                    <option value="0" disabled selected>Seleccione una planilla</option>
                    <option  *ngFor="let fila of listImpPagVentas" [value]="fila.id_venta_impaga_paga">
                        {{fila.vendedor_venta}}
                    </option>
                 </select> -->
            </div>
            
            <div class="form-group">
                <select name="" id="" formControlName="vendedor" class="form-control" placeholder="">
                    <option value="0" disabled selected>Seleccione un vendedor</option>
                    <option  *ngFor="let fila of listVendVentas" [value]="fila.id_vendedor">
                        {{fila.nombre}}
                    </option>
                </select>
            </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button class="btn btn-success">Guardar venta</button>
        </div>
    </form>
      </div>
    </div>
  </div>