<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>id</th>
                    <th>Descripcion</th>
                    <th>Operaciones</th>

                </tr>
            </thead> 

            <tbody>
                <tr *ngFor = "let categoria_gasto of listCategoria_gasto">
                    <td>{{categoria_gasto.id_categoria_gasto}}</td>
                    <td>{{categoria_gasto.descripcion}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" >
                            <!-- <button class="btn btn-danger" (click)="eliminarProvincia(provincia.id_provincia)"  ><i class="fas fa-trash"></i></button>eliminar -->
                           <button  class="btn btn-primary" (click)="editarCategoria_gasto(categoria_gasto)"> <i class="fas fa-edit"></i> </button><!-- modificar -->
                           
                       </div>
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de categorias de gastos</div>
            <div class="card-body">


                <form [formGroup]="formCategoria_gasto" (ngSubmit)= "guardarCategoria_gasto()">
                    <input formControlName='id_categoria_gasto' type="text" readonly>
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>
                    
                    

                    
                    
                    <button class="btn btn-success">Guardar la categoria de gasto</button>
                    <!-- <button type="button" class="btn btn-outline-dark btn-sm" (click)="resetearformProvincia()"><i class="fas fa-redo-alt"></i></button> -->
                </form>


            </div>
        </div>

    </div>

</div>
