<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Provincia</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let localidad of listLocalidades">
                    <td>{{localidad.descripcion}}</td>
                    <td>{{localidad.descripcion_provincia}}</td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de localidades</div>
            <div class="card-body">
                <form [formGroup]="formLocalidad" (ngsubmit)="guardarLocalidad()">
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <select name="" id="" formControlName="provincia" class="form-control">
                            <option value="0" disabled selected>Seleccione una provincia</option>
                            <option *ngFor="let fila of listLocProvincias" [value]="fila.id_provincia">
                                {{fila.descripcion}}
                            </option>
                        </select>
                    </div>
                    
                    <button class="btn btn-success">Guardar una localidad</button>
                </form>
            </div>
        </div>

    </div>

</div>
