<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>id</th>
                    <th>Descripcion</th>
                    <th>Provincia</th>
                    <th>Operaciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let localidad of listLocalidades">
                    <td>{{localidad.id_localidad}}</td>
                    <td>{{localidad.descripcion}}</td>
                    <td>{{localidad.descripcion_provincia}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button  class="btn btn-danger" (click)="eliminarLocalidad(localidad.id_localidad)"> <i class="fas fa-trash"></i> </button>
                            <button  class="btn btn-primary" (click)="editarLocalidad(localidad)"> <i class="fas fa-edit"></i> </button>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de localidades</div>
            <div class="card-body">
                <form [formGroup]="formLocalidad" (ngSubmit)= "guardarLocalidad()">

                    <input formControlName="id_localidad" type="text">

                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <select name="" id="" formControlName="provincia" class="form-control">
                            <option value="0" disabled selected>Seleccione una provincia</option>
                            <option  *ngFor="let fila of listLocProvincias" [value]="fila.id_provincia">
                                {{fila.descripcion}}
                            </option>
                        </select>
                    </div>
                    
                    <button class="btn btn-success btn-sm">Guardar una localidad</button>
                    <button type="button" class="btn btn-outline-dark btn-sm" (click)="resetearformLocalidad()"><i class="fas fa-redo-alt"></i></button>
                </form>
            </div>
        </div>

    </div>

</div>
