<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Provincia</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let localidad of listLocalidades">
                    <td>{{localidad.descripcion}}</td>
                    <td>{{localidad.provincia}}</td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-sm-4">
        
        <div class="card">
            <div class="card-header">Formulario de localidades</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input placeholder="Ingrese la descripcion" type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <input placeholder="Ingrese la provincia" type="text" class="form-control">
                    </div>
                    
                    <button class="btn btn-success">Guardar una localidad</button>
                </form>
            </div>
        </div>

    </div>

</div>
